# .replit

modules = ["nodejs-20", "python-3.12", "web", "bash"]
compile = "make"

[nix]
channel = "stable-24_05"

[nix.deps]
packages = [
  "sqlite3", # This line ensures the sqlite3 command-line tool is installed
]

[deployment]
build = ["sh", "-c", "make"]